<section id="footer">
    <div class="footer">
        <br>

        <p class="text-center">Follow Us</p>
        <p><i class="fab fa-instagram"></i><i class="fab fa-facebook-f"></i><i class="fab fa-twitter"></i></p>
    </div>
   
</section>
</body>
</html>