<%- include('partials/header') -%>
<h1 class="text-center">About Us</h1>
<p class="text-center">Syneout is a Digital Platform that Allows Small Business Owners set up E-commerce Websites With a Few Clicks
</p>
<p class="text-center">The objective is to provide a platform with an on the fly product that would help businesses resolve 90% of problems relating to customer service.

    The aim is also to allow business owners to worry less about interacting directly with customers on orders and payments and instead, focus on ensuring that the quality of product received is even better than the customer expected.
    
    The overall idea is to provide an affordable solution that would facilitate hosting, user experience and web optimization at a go.
    </p>
<%- include('partials/footer') -%>