<%- include('partials/header') -%>
    <section id="body">
        <div class="row">

            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="empty-div">
                    <span>coming soon</span>
                </div>
                    <p>An automated e-commerce solution for your business</p>
                    <h1>Be the first <br> to know when we launch</h1>
            
                <form action="/" method="post">
                    <input type="text" name="name" placeholder="your first name">
                    <input type="text" name="email" placeholder="your email address">
                    <div>
                        <button type="submit">Notify Me</button>
                    </div>
                </form>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <figure>
                    <img src="/images/sales icon.svg" alt="sales icon">
                    <figcaption>oiin!! you are almost sold out</figcaption>
                </figure>
                <figure>
                    <img src="/images/footer logo.svg" alt="syneout icon">
                    <figcaption>your website will be live in 2 minutes</figcaption>
                </figure>
                <figure>
                    <img src="/images/update icon.svg" alt="sales icon">
                    <figcaption>swoosh!!! 55 new orders this week</figcaption>
                </figure>
                <figure>
                    <img src="/images/dispatch icon.svg" alt="sales icon">
                    <figcaption> dispatch is 5 minutes away from customers location</figcaption>
                </figure>
                <figure>
                    <img src="/images/payment icon.svg" alt="sales icon">
                    <figcaption>cash out on sales with ease</figcaption>
                </figure>
            </div> 
            
        </div>

    </section>

<%- include('partials/footer') -%>
   